.contact-block {
	position: relative;
	@include e(btn) {
		width: 100%;
		padding: 0.25em 1em;
		@extend %clearfix;
		h2 {
			display: flex;
			align-items: center;
			font-size: 1em;
			margin: 0;
			float: left;
			img {
				height: 1em;
				display: inline-block;
				margin-right: 1em;
				float: left;
				width: auto;
			}
		}
	}
	@include e(dropdown) {

		a {
			width: 70%;
			margin-bottom: .75em;
		}
	}
	@include mq(medium) {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}